@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  padding: 1rem;
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  background-image: url('/doom_skybox.webp');
  background-size: cover;
  background-repeat: no-repeat;
}

.pane {
  font-size: 2rem;
  width: 50rem;
  transform-origin: top left;
  animation: drawIn 0.5s ease forwards;
}

@keyframes drawIn {
  0% {
    border: 0.5rem solid white;
    outline: 0.1rem solid white;
    transform: scaleY(0) scaleX(0);
  }
  50% {
    transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(1);
    border: 0.5rem solid #c0c0c0;
    outline: 0.1rem solid black;
  }
}
.hidden {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.typewriter {
  width: 0;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.15em solid #c0c0c0;
  animation: typing 2s steps(30, end) forwards, blink-cursor 0.7s step-end infinite;
  animation-delay: 0.5s;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-cursor {
  0%, 100% {
    border-color: #c0c0c0;
  }
  50% {
    border-color: transparent;
  }
}

.pane__content {
  outline: 0.1rem solid black;
}

.pane__header {
  background-color: #c0c0c0;
  outline: 0.1rem solid black;
  display: flex;
  justify-content: space-between;
}

.pane__title {
  border-top: 0.1rem solid darkgray;
  flex-grow: 1;
  text-align: center;
  border-bottom: 0.1rem solid gray;
}

.pane__body {
  padding-right: 1rem;
  height: 42rem;
  overflow: scroll;
  scrollbar-width: 2rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.726);
}

::-webkit-scrollbar{
  width: 1rem;;
}

::-webkit-scrollbar-track {
  background-color: gray;
}

::-webkit-scrollbar-corner {
  background-color: #c0c0c0;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: #c0c0c0;
}

.pane__button {
  padding: 0.1rem 1rem;
  border-radius: 0;
  background-color: #c0c0c0;
}

.pane__button:active {
  background-color: gray;
  border: inset 2px;
}

.pane__button:first-child {
  border-bottom: 0.1rem solid gray;
  border-left: 0.1rem solid darkgray;
  border-top: 0.1rem solid darkgray;
}

.pane__button:last-child {
  border-bottom: 0.1rem solid gray;
  border-right: 0.1rem solid darkgray;
  border-top: 0.1rem solid darkgray;
}

.attachment {
  background-color: rgba(0, 0, 255, 0.726);
  position: absolute;
  left: 47rem;
  top: 25rem;

}

.attachment .pane__body {
  height: 6rem;
  padding: 1rem;
}